@font-face {
  font-family: 'LINE Seed JP';
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/LINESeedJP-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'LINE Seed JP';
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/LINESeedJP-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/OpenSans-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Twemoji';
  font-weight: normal;
  font-display: swap;
  src: url('../fonts/Twemoji.woff2') format('woff2');
}