@font-face {
  font-family: 'Open Sans';
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/OpenSans-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'YakuHanJPs';
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/YakuHanJPs-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'YakuHanJPs';
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/YakuHanJPs-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/NotoSansJP-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Twemoji';
  font-weight: normal;
  font-display: swap;
  src: url('../fonts/Twemoji.woff2') format('woff2');
}